<ion-header>

  <ion-navbar color="primary-dark">
    <ion-title>{{ teamProfile?.teamName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="userProfile?.teamAdmin">
    <h4>Hey {{ userProfile?.fullName }},</h4>

    <p>
      You're the admin of <span>{{ teamProfile?.teamName }}</span> and below you can see your team members or add new members.
    </p>

    <button ion-button block color="primary-dark" (click)="inviteTeamMember()">
      Invite a new member
    </button>

    <ion-list *ngIf="teamProfile?.teamMembers">
      <ion-list-header>
        Team Members
      </ion-list-header>
      <ion-item *ngFor="let member of teamProfile?.teamMembers | objectToArray" 
        (click)="goToMemberProfilePage(member.id)">
        {{ member.fullName }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!userProfile?.teamAdmin">
    <h4>Hey {{ userProfile?.fullName }},</h4>

    <p>
      You're part of <span>{{ teamProfile?.teamName }}</span> and below you can see your other teammates!
    </p>

    <ion-list *ngIf="teamProfile?.teamMembers">
      <ion-list-header>
        Team Members
      </ion-list-header>
      <ion-item *ngFor="let member of teamProfile?.teamMembers | objectToArray">
        {{ member.fullName }}
      </ion-item>
    </ion-list>

  </div>
  

  

</ion-content>